.redraft {
    display: flex;
    text-align: center;
    height: 100%;
    flex-direction: column;

	.draft-header {
		flex: 1;
	}

	.redraft-content {
		display: flex;
	    flex-direction: row;
	    flex: 9;
	    width: 100%;

		.team-panel {
			flex: 1;
		}
	}
}

.center-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 16px;
}
