@import 'colors';

*, *:before, *:after {
	box-sizing: border-box;
}

.app {
	background-color: $dark-teal;
    height: 100vh;
	border: 1px solid $gold;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	.title-bar {
		justify-content: flex-end;
	}
}
