@import 'colors';

*, *:before, *:after {
	box-sizing: border-box;
}

.app {
	background-color: $dark-teal;
    height: 100vh;
	border: 2px solid $gold;
}

.title-bar {
    justify-content: flex-end;
}
