@import 'colors';

.ban-phase-info {
    color: $gold;

	display: grid;
	grid-template-columns: 10% repeat(3, 1fr);
	grid-gap: .5vw;

	h4 {
		writing-mode: vertical-lr;
		margin: 0;
		padding: 0;
	}
}
