@import 'colors';

.ban-phase-info {
    color: $light-gold;

	display: grid;
	grid-template-columns: auto repeat(3, 1fr);
	grid-gap: .5vw;

	span {
		writing-mode: vertical-lr;
		font-weight: bold;
		font-size: small;
	}
}
