@import 'colors';

.champion-grid {
    border: 1px solid $gold;
    background-color: $teal;
	overflow-y: auto;

	display: grid;
	grid-template-rows: min-content 1fr;
}

.filter-container {
	padding: 1vh 1vw .5vh 1vw;

	.filter-roles {
		float: left;
		height: 32px;
		max-width: 50%;
	}

	.filter-role-icon {
		cursor: pointer;
		float: left;
		height: 100%;
		width: auto;
		padding: .25vh .25vw;

		&.active {
			box-shadow: 0 5px 0 -2px $gold;
		}

		&:focus {
			outline: none;
		}
	}

	.filter-input {
		float: right;
		max-width: 50%;
	}
}

.champion-grid-items {
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: min-content;
    grid-gap: 1vw;
    padding: 1vw;

	&::-webkit-scrollbar {
	    display: none;
	}

	.champion-square-wrapper {
	    cursor: pointer;

		&.unavailable {
		    filter: grayscale(100%);
		    cursor: default;
		}
	}
}
