@import 'colors';

.champion-grid {
    border: 1px solid $gold;
    background-color: $teal;
	overflow-y: auto;

	display: grid;
	grid-template-rows: 10% 1fr;
}

.filter-container {
	padding: 1vh 1vw 0 1vw;
    background-color: $dark-gray;
    border-bottom: 3px solid $gray;

	.filter-roles {
		float: left;
		height: 100%;
		max-width: 50%;
	}

	.filter-role-icon {
		float: left;
		height: 100%;
		padding: .25vh .25vw;

		&:focus {
			box-shadow: 0 5px 0 -2px $gold;
			outline: none;
		}
	}

	.filter-input {
		float: right;
		padding-left: .5vw;
		height: 80%;
		max-width: 50%;
		margin-bottom: 1vh;
	}
}

.champion-grid-items {
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1vw;
    padding: 1vw;

	&::-webkit-scrollbar {
	    display: none;
	}

	.champion-square-wrapper {
	    cursor: pointer;

		&.unavailable {
		    filter: grayscale(100%);
		    cursor: default;
		}
	}
}
