@import 'colors';

.champion-pick {
	padding: .5vw;
    background-color: $teal;
    border: 1px solid $gold;

	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	h3 {
	    color: $gold;
	}

	.champion-square {
		// margin: .5vh 0 .5vh .5vh;
	}
}
