@import 'colors';

.controls {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1vw;
}

.controls-button {
    color: $gold;
    background-color: $teal;
    border: 1px solid $gold;
    box-shadow: 0px 0px 1px 1px black inset;
    cursor: pointer;

	&:focus {
	    outline: 0;
	}

	&:hover {
	    border-color: $light-gold;
	    color: $light-gold;
	}

	&[disabled] {
	    border-style: solid;
	    border-color: $gray;
		box-shadow: 0px 0px 3px 1px black inset;
	    background-color: $dark-gray;
	    color: $gray;
		cursor: default;
	}
}
