@import 'colors';

.draft-header {
	font-weight: bold;
	font-size: xx-large;
	border-top: 1px solid $gray;
}

.blue-red {
    background: linear-gradient(to right, $blue, $dark-gray, $dark-gray, $red);

	&.active-blue {
	    background: linear-gradient(to right, $blue, $dark-gray, $dark-gray, $dark-gray);
	}

	&.active-red {
	    background: linear-gradient(to right, $dark-gray, $dark-gray, $dark-gray, $red);
	}
}

.red-blue {
    background: linear-gradient(to right, $red, $dark-gray, $dark-gray, $blue);

	&.active-red {
	    background: linear-gradient(to right, $red, $dark-gray, $dark-gray, $dark-gray);
	}

	&.active-blue {
	    background: linear-gradient(to right, $dark-gray, $dark-gray, $dark-gray, $blue);
	}
}
