@import 'colors';

.header {
	border-bottom: 2px solid $gray;
    background-color: $dark-gray;
    text-align: center;
    color: $gold;
	font-weight: bold;
	font-size: medium;
	padding: .5vh .5vw;
}
