@import 'colors';

.redraft {
	.draft-header {
		grid-area: header;
		margin-bottom: 1vh;
	}

	.champion-grid {
		grid-area: championGrid;
	}

	.team-panel {
		&.left {
			grid-area: leftSide;
		}

		&.right {
			grid-area: rightSide;

			.team-picks > .pick-item {
				grid-template-columns: 1fr 32px;
				grid-template-areas: "pickChamp pickTurn";
			}

			.team-bans {
				margin-left: 0;
				margin-right: 32px;
			}
		}
	}

	.controls {
		grid-area: controls;
		margin-top: 2vh;
	}

	height: 100%;
	text-align: center;
	padding-bottom: 1vh;
	font-family: "Roboto";

	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: min-content 3fr 1fr;
	grid-column-gap: 1vw;
	grid-template-areas:
		"header header header"
		"leftSide championGrid rightSide"
		"leftSide controls rightSide";
}
