@import 'colors';

.team-picks {
    background-color: $dark-teal;

	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 1vh;

	.pick-item {
		span {
			grid-area: pickTurn;
			font-weight: bold;
			color: $light-gold;
		}

		.champion-pick {
			grid-area: pickChamp;
			height: 100%;
		}

		color: $gold;
		display: grid;
		grid-template-columns: 32px 1fr;
		grid-template-areas: "pickTurn pickChamp";
		align-items: center;
	}
}
