@import 'colors';

.team-bans {
	padding-bottom: 1vh;
    border: 1px ridge $gold;
    background-color: $teal;
    color: white;

	display: grid;
	grid-template-rows: auto 1fr 1fr;
	grid-gap: 1vh;
	align-items: center;

	.ban-phase-info {
		margin-left: 1vw;
		margin-right: 1vw;
	}
}
