.champion-grid {
    flex: 3;
    border: 3px ridge #937341;
    background-color: #14181d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.champion-grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.champion-square-wrapper {
    width: 16%;
    padding: 8px;
}

.champion-square-wrapper > .champion-square {
    margin: auto;
    width: 100%;
    height: 100%;
}

.champion-square-wrapper.unavailable {
    filter: grayscale(100%);
}