.champion-card {
    padding: 8px;
    background-color: #14181d;
    display: flex;
    border: 1px solid #937341;
    align-items: center;

	.champion-square-wrapper {
	    flex: 0 0 30%;
	}

	h3 {
	    flex: 1;
	    color: #937341;
	    padding-left: 8px;
	    padding-right: 8px;
	}
}
