.champion-grid {
    border: 1px solid #937341;
    background-color: #14181d;
	overflow-y: auto;

	display: grid;
	grid-template-rows: 10% 1fr;
}

.filter-container {
    padding: 1vh 1vw;
    background-color: #121212;
    border-bottom: 3px solid #262626;

	input {
	    float: right;
	}
}

.champion-grid-items {
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1vw;
    padding: 1vw;

	&::-webkit-scrollbar {
	    display: none;
	}

	.champion-square-wrapper {
	    cursor: pointer;

		&.unavailable {
		    filter: grayscale(100%);
		    cursor: default;
		}
	}
}
