.champion-card {
    background-color: #14181d;
    border: 1px solid #937341;

	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;

	h3 {
	    color: #937341;
	}

	.champion-square {
		margin: .5vh .5vw;
	}
}
