.champion-grid {
    flex: 3;
    border: 1px solid #937341;
    background-color: #14181d;
    display: flex;
    flex-direction: column;
}

.filter-container {
    width: 100%;
    padding: 8px;
    background-color: #121212;
    border-bottom: 3px solid #262626;
}

.filter-container > input {
    float: right;
}

.champion-grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.champion-grid-items::-webkit-scrollbar {
    display: none;
}

.champion-square-wrapper {
    margin: 8px;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 12%;
    height: auto;
}

.champion-square-wrapper.unavailable {
    filter: grayscale(100%);
}