.champion-grid {
    flex: 3;
    border: 1px solid #937341;
    background-color: #14181d;
    overflow-y: scroll;
    overflow-x: hidden;
}

.champion-grid-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.champion-square-wrapper {
    margin: 8px;
    cursor: pointer;
    display: inline-block;
    flex: 0 0 12%;
    height: auto;
}

.champion-square-wrapper.unavailable {
    filter: grayscale(100%);
}