.controls {
    display: flex;
    flex: 1;
    margin-top: 16px;
    border: 1px solid #937341;
    background-color: #14181d;
    justify-content: center;
}

.controls-button {
    width: 10%;
    height: 20%;
    margin: 12px;
    color: #937341;
    background-color: #14181d;
    border: 1px solid #937341;
    box-shadow: 0px 0px 1px 1px black inset;
    text-transform: uppercase;
    cursor: pointer;
}

.controls-button:focus {
    outline: 0;
}

.controls-button:hover {
    border-color: #c4b998;
    color: #c4b998;
}

.controls-button[disabled] {
    border-style: solid;
    border-color: gray;
    background-color: #14181d;
    color: gray;
}