.controls {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 1vw;
}

.controls-button {
    color: #937341;
    background-color: #14181d;
    border: 1px solid #937341;
    box-shadow: 0px 0px 1px 1px black inset;
    text-transform: uppercase;
    cursor: pointer;

	&:focus {
	    outline: 0;
	}

	&:hover {
	    border-color: #c4b998;
	    color: #c4b998;
	}

	&[disabled] {
	    border-style: solid;
	    border-color: gray;
	    background-color: #14181d;
	    color: gray;
	}
}
