.controls {
    display: flex;
    flex: 1;
    margin-top: 16px;
    border: 1px;
    border-style: dashed;
}

.controls-button {
    width: 10%;
    height: 20%;
    margin: 12px;
    color: #937341;
    background-color: #14181d;
    border-color: #937341;
}

.controls-button:focus {
    outline: 0;
}

.controls-button[disabled] {
    border-style: solid;
    border-color: gray;
    background-color: #101217;
    color: gray;
}