.draft-header {
    flex: 1;
    border-bottom: 3px solid #262626;
    background-color: #121212;
    text-align: center;
    color: #937341;
}

.blue-red {
    background: linear-gradient(to right, #2477e8, #121212, #121212, #cb2124);
}

.blue-red.active-blue {
    background: linear-gradient(to right, #2477e8, #121212, #121212, #121212);
}

.blue-red.active-red {
    background: linear-gradient(to right, #121212, #121212, #121212, #cb2124);
}

.red-blue {
    background: linear-gradient(to right, #cb2124, #121212, #121212, #2477e8);
}

.red-blue.active-red {
    background: linear-gradient(to right, #cb2124, #121212, #121212, #121212);
}

.red-blue.active-red {
    background: linear-gradient(to right, #121212, #121212, #121212, #2477e8);
}
