.team-picks {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #101217;
    justify-content: space-between;
}

.left > .team-picks {
    align-items: flex-start;
}

.right > .team-picks {
    align-items: flex-end;
}

.right > .team-picks > .champion-card {
    flex-direction: row-reverse;
}

.team-picks > .champion-card {
    flex: 0 0 19%;
    width: 100%;
    padding: 8px;
}