.team-bans {
	padding: 1vh 1vw;
    border: 1px ridge #937341;
    background-color: #14181d;
    color: white;

	display: grid;
	grid-template-rows: 20% 1fr 1fr;
	grid-gap: 1vh;
	align-items: center;

	h4 {
	    color: #937341;
		margin: 0;
		padding: 0;
	}
}
