.team-bans {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 16px;
    border: 1px ridge #937341;
    background-color: #14181d;
    color: white;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}

.team-bans > h3 {
    flex: 0 0 10%;
    margin: 8px auto;
    color: #937341;
}

.team-bans > .ban-phase-info {
    flex: 0 0 40%;
}

.right > .team-bans > .ban-phase-info {
    flex-direction: row-reverse;
}

.right > .team-bans > .ban-phase-info > .ban-phase-items {
    flex-direction: row-reverse;
}