.team-picks {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 1px;
    border-style: dashed;
}

.blue > .team-picks {
    align-items: flex-start;
}

.red > .team-picks {
    align-items: flex-end;
}

.champion-pick {
    height: 17%;
    width: auto;
    margin: 8px;
}