.team-bans {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 16px;
    border: 1px;
    border-style: dashed;
    align-content: center;
    justify-content: flex-start;
}

.right > .team-bans {
    flex-direction: row-reverse;
}

.champion-ban {
    width: 30%;
    height: 42%;
    margin: 4px;
}