.team-picks {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #101217;
}

.left > .team-picks {
    align-items: flex-start;
}

.right > .team-picks {
    align-items: flex-end;
}

.right > .team-picks > .champion-pick > .champion-card {
    flex-direction: row-reverse;
}

.champion-pick {
    height: 20%;
    width: 100%;
    padding: 8px;
}

.champion-pick > .champion-card {
    width: 100%;
    height: 100%;
}