html, body, #root {
    height: 100%;
    background-color: #101217;
    border: 1px solid #937341;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title-bar{
    justify-content: flex-end;
}